@font-face {
    font-family: "customFont";
    src: url("Montserrat-Regular.ttf")
}

h3 {
    color: #00ff00;
    background-color: hsl(30, 100%, 50%);
    margin: auto;
}

.Attendance {
    border-style: solid;
    border-color: aqua;
    border-width: 1em;
    border-radius: 30px;
}
.Agenda {
  text-align: center;
}

#article {
    margin: 0.25in 1mm 0.25in 1mm;
}

a[href$="https://thejournal.com/articles/2015/02/18/beyond-programming-the-power-of-making-games.aspx"] {
  font-style: italic;
}

a:hover {
  background-color: magenta;
}

* {
  font-family: "customFont";
}

button.submit {
  height: 4rem;
  width: 10ch;
}

button.submit:active {
  text-decoration: underline;
}

img + p {
  margin-top:20px;
  margin-bottom:100px;
  margin-left:1em;
  margin-right:1em;
}

section video {
  padding: 1pc 1pc 1pc 1pc; 
}

section > form {
  padding-top: 10pt;
  padding-bottom: 10pt;
  padding-left: 20Q;
  padding-right: 20Q;
}

input ~ button {
  max-width: 2000px;
  min-width: 0px;
  display: block;
}

.hidden {
  display: none;
}

p, label {
  color:gray;
  position: static;
}

em {
  position: sticky;
}

.box {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 10px;
    align-items: center;
}

.one, .two, .three {
  border-style: solid;
  border-width: 3px;
}

.grid {
  display: inline-grid;
  column-gap: 10px;
  grid-template-columns: 100px 50px 100px;
  justify-items: center;
}

@media only screen and (max-width: 700px) {
  body {
    background-color: lightcyan;
  }
}
